extends layout

block content
  .pure-g-r.form-results
    .pure-u-1
      .text-center
        h1
          a(href="/") The Color API
        a.in-api-link(href="/scheme?hex=#{color.hex.clean}&format=html", title="Go To Scheme API", style="background:#{color.hex.value};color:#{color.contrast.value};") "#{color.name.value}" schemes at<br/><code>/scheme?hex=#{color.hex.clean}</code>
        br
        br
        img(src="#{color.image.named}", class="pure-img")
        br
        br
      for tK in topKeys
        if tK != '_links' && tK != '_embedded'
          .margin-center
            table.pure-table
              caption #{tK}
              thead
                tr
                  for lK in lowKeys[tK]
                    th #{lK}
              tbody
                tr
                  for lK in lowKeys[tK]
                    if typeof(color[tK][lK]) == 'object'
                      td
                        - var kk = Object.keys(color[tK][lK]);
                        for k in kk
                          | #{k} : #{0.01 * Math.round(100 * color[tK][lK][k])} <br/>
                    else
                      td #{color[tK][lK]}
      #lede
        p.links
          span.maker <a href="/docs" title="Documentation">Read The Docs</a> &mdash; <a href="/about", title="About">About</a> &mdash; <a href="mailto:support@thecolorapi.com?subject=The Color API" title="Email support for the API">Support</a> &mdash; <a href="http://andjosh.com" rel="author" title="Josh Beckman">Author</a>